.Passion-Section{
background-color: lightgoldenrodyellow;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: lightsalmon;
text-align: center;
}

.Passion-Section-Title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hotpink;
    font-size:xx-large;
    font-style: initial;
}

.Reason-Section-Title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hotpink;
    font-size: xx-large;
    font-style: initial;

}

.Link-Title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hotpink;
    font-size: xx-large;
    font-style: initial;
}
.MakeupButton{
    background-color: fuchsia; 
    border-color: lightsalmon;
    color: white;
}

.Makeup-Pictures{
background-color: pink;
}

.Reason-Section{
background-color: hotpink;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: burlywood;
padding: 7px;
text-align: center;
}

.Makeup-Website{
text-align: center;
}

.Makeup-Tips{
text-align: center;
}

body{
background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMS1tYXJibGUtc2FzaS0xMTcuanBn.jpg?s=sz-7kap7topyNDJpDM0ZTZrIz1So53S7bTyPKo4dJvs);
}

